$bg: #f8f8f8;
$color: #1b1c21;
$color-muted: #7e7e82;
$button: #ff3e79;
$highlight: #41f6d7;
$hr-line: #d9fff5;
$services-btn-border: #b8ffec;
$section-gradient: linear-gradient(to right, #f8f8f8, #fff);
